<div class='container'>
  <nav>
    <ul>
      <a href=""><li>Glossary</li></a>
      <a href=""><li>Videos</li></a>
      <a href=""><li>Drawings</li></a>
      <a href=""><li>Instructions</li></a>
    </ul>
  </nav>
</div>