
<div>
	<h1>Create Account</h1>
	<form action='/new/account'>
		<label for='first_name'>First Name</label>
		<input type="text" placeholder='Enter Your First Name' name='first_name'>
		<label for="last_name">Last Name</label>
		<input type='text' placeholder='Enter Your Last Name' name='last_name'>
		<label for="email">Email</label>
		<input type='text' placeholder='Enter Your Email' name='email'>
		<label for='password'>Password</label>
		<input type='password' name='password' placeholder='Enter a password'>
		<label for='confirm'>Confirm Password</label>
		<input type='password' name='confirm' placeholder='Enter password again'>
		<input type='submit' value='Create your account' class='btn btn-primary'>
	</form>
</div>