<div class='container'>
	<h1>RAM University</h1>
	<form action="/create">
		<input type="hidden" name='authenticty_token' value='<%= form_authenticity_token %>'>
		<label for='new'>New Wiki</label>	
		<input type='text' name='title'>
		<input type='submit' name='submit' value='Submit'>
	</form>
</div>
