<div class='container'>
	<h1>RamWiki</h1>
	<div class='col-sm-4 col-offset-8'>
		<ul>
			<li>
				<a href="user/create_landing">Create Account</a>
			</li>
			<li>
				<a href="/login">Login</a>
			</li>
		</ul>
	</div>
</div>